---
layout: default-page
title: Influential Islamic Personalities to Follow
---
<div id="secondary-nav">
    <ul>
        {% for k in site.data.influential-islamic-personalities %}
        <li><a href="#{{k.p-id-url}}">{{k.title}}</a></li>
        {% endfor %}
    </ul>
</div>



<ul>
    {% for i in site.data.influential-islamic-personalities %}
        <li>
            <p id="{{i.p-id-url}}">{{i.title}}</p>
            <ol>
                {% for j in i.url-list %}
                    <li>{{j.name}}  -->  <a href="{{j.url}}" target="_blank" alt="{{j.text}}">{{j.url}}</a></li>
                {% endfor %}
            </ol>
        </li>
    {% endfor %}
</ul>
<br>
<br>
<br>
<p>
<u><b>বিশেষ দ্রষ্টব্যঃ-১</b></u> 
মানুষ ভুলের উর্ধ্বে নয়। মানুষের নিয়ত সম্পর্কে অবগত আছেন একমাত্র আল্লাহ সুবহানাহু ওয়া তা'আলা। তাই কে কোন নিয়তে ফেইসবুক চালাচ্ছেন তা আমার পক্ষে জানা সম্ভব নয়। একারণে এই লিস্টে যেমন সৎ নিয়তের ব্যক্তির আইডি আছে, তেমনি অসৎ নিয়তের ব্যক্তির আইডি থাকাটা অস্বাভাবিক নয়। তাই কাউকে ফলো করতে চাইলে, আপনার সাধ্যমত যাচাই-বাছাই করে তারপর ফলো করুন। অথবা সকলের ভালো ইলম/জ্ঞান গ্রহণ করুন এবং মন্দ ইলম/জ্ঞান বর্জন করুন। একমাত্র আল্লাহ তা'আলা-ই আমাদের হিদায়াত দান করতে পারেন, একমাত্র তিনিই আমাদের সঠিক পথে পরিচালিত করতে পারেন। 
<br>
<u><b>বিশেষ দ্রষ্টব্যঃ-২</b></u> 
এই লিস্টের আইডিগুলো উপর-নিচে রাখা মানে তাদেরকে র‍্যাঙ্কিং করা নয়। 
<br>
<u><b>বিশেষ দ্রষ্টব্যঃ-৩</b></u>
লিস্টে দ্বীনি ভাই ও বোন উভয় জেন্ডারেরই আইডি রয়েছে। তাই এক্ষেত্রে বিপরীত জেন্ডারের আইডি ফলো করার ক্ষেত্রে কঠোর সতর্কতা অবলম্বন করতে হবে, যাতে আপনারা কোনোভাবেই ফিতনায় পতিত না হন। এক্ষেত্রে নিচের পদ্ধতিগুলো অবলম্বন করতে পারেনঃ-  
বিপরীত জেন্ডারের কাউকে শুধুমাত্র ফলো করে রাখবেন, কখনোই ফ্রেন্ড রিকুয়েস্ট পাঠাবেন না। 
বিপরীত জেন্ডারের কারো পোস্টে শুধু লাইক দিলেই যথেষ্ট, লাভ অথবা অন্যান্য রিএক্ট দেয়া থেকে বিরত থাকুন। 
বিপরীত জেন্ডারের কারো পোস্টে একান্ত দ্বীনি প্রয়োজন ছাড়া কমেন্ট করবেন না। 
বিপরীত জেন্ডারের কাউকে একান্ত দ্বীনি প্রয়োজন ছাড়া ইনবক্সে মেসেজ দিবেন না। 
</p>