<aside id="sidebar">
    <div id="sidebar-header">
        <h2>Browse</h2>
    </div>
    <a href="{{site.baseurl}}/index.html" id="glow"><h3 id="preface-link">Preface</h3></a>
    <ul>
        <li>
            <h3>Content Map</h3>
            <ul>
                <li><a href="{{site.baseurl}}/zakir-naik-lectures.html" class="{% if page.url == '/zakir-naik-lectures.html' %}current{% endif %}">Zakir Naik Lectures</a></li>
                <li><a href="{{site.baseurl}}/nouman-ali-khan-lectures.html" class="{% if page.url == '/nouman-ali-khan-lectures.html' %}current{% endif %}">Nouman Ali Khan Lectures</a></li>
                <li><a href="#">List Item 3</a></li>
                <li><a href="#">List Item 4</a></li>
                <li><a href="#">List Item 5</a></li>
                <li><a href="#">List Item 6</a></li>
                <li><a href="#">List Item 7</a></li>
                <li><a href="#">List Item 8</a></li>
                <li><a href="#">List Item 9</a></li>
                <li><a href="#">List Item 10</a></li>
            </ul>
        </li>
    </ul>		
</aside>