<aside id="sidebar">
    <div id="sidebar-header">
        <h2>Browse</h2>
    </div>
    <div id="glow-text">
        <a href="{{site.baseurl}}/" id="glow"><h3 id="preface-link">Preface</h3></a>
    </div>
            <h3 id="content-map-title">
                <span>CONTENT MAP</span>
            </h3>
            <ul id="nav-links">
                {% for i in site.data.content-map-links %}
                    <li class="{% if i.path == page.url %}current{% endif %}{% if i.updated == 0 %} un-updated{% endif %}">
                        <a href="{{ site.baseurl }}{{ i.path }}" alt="{{ i.text }}">{{ i.text }}</a>
                    </li>
                {% endfor %} 
            </ul>
	
</aside>